{% extends 'base.html.twig' %}

{% block title %}Webp converter{% endblock %}

{% block body %}
    <h1 class="Logo">
        <span class="LogoElement LogoElement-first">webp</span>
        <span class="LogoElement LogoElement-second">converter</span>
    </h1>

    <section id="drop-zone">
        <p>Drop your .png or .jpg images here!</p>
        <small>Up to 5 MB each.</small>
        <input type="file" multiple="multiple" accept=".jpg, .jpeg, .png" class="InputFile">
    </section>

    <section class="FilesWrapper FilesWrapper--hidden">
        <ul id="content" class="Files"></ul>
    </section>

    <section>
        <button class="Button Button--download Button--hidden">Download all</button>
    </section>

    {# A template for an uploaded file #}
    <template class="FileTemplate">
        <li class="File">
            {# Name of the original file #}
            <span class="File-name"></span>
            {# Size of the original file #}
            <span class="File-size"></span>
            {# Progress bar #}
            <progress class="File-progress" max="100" value="0">0%</progress>
            {# Size of the converted file #}
            <span class="File-size File-finalSize"></span>
            {# Link to direct download the converted file #}
            <a href="#" class="File-path" download>download</a>
            {# Compression percentage #}
            <span class="File-compression"></span>
            {# Error message #}
            <span class="File-message"></span>
        </li>
    </template>
{% endblock %}

