#drop-zone {
  max-width: 600px;

  padding: 20px;

  border-radius: 1rem;
  border: dashed #616778 2px;

  margin: auto;

  transition: all ease-in-out 0.2s;

  &:hover {
    color: #616778;
    border-color: #9a9fad;

    cursor: pointer;
  }
}

.InputFile {
  position: absolute;
  top: -16rem;
  opacity: 0;
}