.FilesWrapper {
  position: relative;
  z-index: 6;

  max-width: 96rem;

  margin: 3.2rem auto 1rem;
  padding: 1.2rem;

  border: .1rem solid #bbcbd0;
  border-radius: .2rem;

  background-color: #fff;

  &--hidden {
    display: none;
  }
}

.Files {
  list-style: none;
  margin: 0;
  padding: 0;
}

.File {
  display: grid;
  grid-template-columns: 40% 10% 20% 10% 10% 10%;
  justify-items: center;
  align-items: center;

  margin: .4rem;
  padding: 0 1.28rem;

  background: #f0f0f0;

  border: .1rem solid #cfdbde;
  border-radius: .2rem;

  font-weight: bold;
  line-height: 2.8rem;
  color: #363a43;

  &-name {
    justify-self: left;
  }

  &-size {
    color: #7eb631;
    font-weight: normal;
    text-align: right;
    line-height: 2.7rem;

    padding-top: .1rem;
  }

  &-path {
    color: #363a43;
  }

  &-message {
    justify-self: flex-start;
    grid-column-start: 4;
    grid-column-end: 7;
  }

  &-finalSize,
  &-compression,
  &-message,
  &-path {
    display: none;
  }

  &--converted {
    .File-finalSize,
    .File-compression,
    .File-path {
      display: initial;
    }
  }

  &--failed {
    color: red;

    .File-message {
      display: initial;
    }
  }
}