.Logo {
  position: relative;

  display: inline-flex;
  flex-direction: row;

  font-family: typewriter-serialregular, "Courier New", Arial, Helvetica, sans-serif;

  border: solid 3px white;
  border-radius: 50px;

  background: white;

  left: 50%;
  transform: translateX(-50%);
}

.LogoElement {
  position: relative;
  padding: 10px;

  color: #3f444f;

  border: solid 3px #3f444f;

  &-first {
    border-radius: 50px 0 0 50px;
  }

  &-second {
    background-color: #3f444f;
    color: white;

    border-radius: 0 50px 50px 0;
  }
}
