.Button {
  display: block;

  margin: auto;
  padding: .16000000000000003rem 1.12rem;

  height: 3.36rem;

  background-color: #bbcbd0;

  border: none;
  border-bottom: .3rem solid #788990;
  border-radius: .2rem;

  color: #fff;
  font-weight: bold;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.52rem;
  text-shadow: .1rem .1rem 0 rgba(150,150,150,0.6);
  vertical-align: middle;

  cursor: pointer;

  &--download {
    background-color: #0aa574;
    border-bottom-color: #029365;
    text-shadow: .1rem .1rem 0 #018259;

    // Highlight button on hover
    &:hover {
      background-color: #0bb680;
      border-color: #02a26f;
      text-shadow: .1rem .1rem 0 #018f62;
    }
  }

  &--hidden {
    display: none;
  }
}