@font-face {
  font-family: 'typewriter-serialregular';
  src: url('../../fonts/typewritter/typewriter-serial-regular-webfont.woff2') format('woff2'),
  url('../../fonts/typewritter/typewriter-serial-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}